page-get-orc {
    .toolbar{
      height: 70px;
  .toolbar-title{
    font-size: 20px;

    text-align: left;
      color: #fff;
  }
       .toolbar-background{
        background: none;
    }
  }
  .ttttt{
        background: rgba(253,127,17,1);
    background: -moz-linear-gradient(45deg, rgba(253,127,17,1) 0%, rgba(238,46,94,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(253,127,17,1)), color-stop(100%, rgba(238,46,94,1)));
    background: -webkit-linear-gradient(45deg, rgba(253,127,17,1) 0%, rgba(238,46,94,1) 100%);
    background: -o-linear-gradient(45deg, rgba(253,127,17,1) 0%, rgba(238,46,94,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(253,127,17,1) 0%, rgba(238,46,94,1) 100%);
    background: linear-gradient(45deg, rgba(253,127,17,1) 0%, rgba(238,46,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7f11', endColorstr='#ee2e5e', GradientType=1 );

    
  }


  .loader{

position: relative;
left: 40%;
top: 20px;

}
svg path,
svg rect{
  fill: #FF6700;
}
  .item{
    color: #467a9e;
  }

  .statuspend{
    color: #e2a500;
       font-weight: bold;
       font-size: 13px;
  }
  .statusok{
    color: #00b5e2;
       font-weight: bold;
       font-size: 13px;
  }
  .cardrad{
    border-radius: 15px;
  }
  .tit{
    color: #00b5e2;
       font-weight: bold;
       font-size: 13px;

  }
  .titulolist{
    font-size: 15px;
    font-weight: bold;
  }
  .detalhescols{
    font-size: 12px;
  }
  .titgetorc{
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: #959595;
}
  .spiiner{
    text-align: center;
  position: absolute;
  left: 40%;
  font-size: 50px;
  top: 50px;
  }

  ion-spinner * {
    width: 30px;
    height: 30px;
    stroke: #444;
    fill: #222;
    position: absolute;
    left: 40%;
    align-items: center;
  }
  .footercard{
    background-color: #2fc90b;
    width: 500px;
    height: -50px;
    .icon{
      color: #fff;
      font-size: 20px;
    }
    div{
      font-size: 17px;
        color: #FFF;
    }
  }

  .footercard2{
    background-color: #0003c8;
    width: 500px;
    height: -50px;
    .icon{
      color: #fff;
      font-size: 20px;
    }
    div{
      font-size: 17px;
        color: #FFF;
    }
  }





  .footercardsol{
    background-color: #014c6b;

    width: 500px;
    height: -50px;
    div{
        color: #FFF;
    }
  }
  .tituloservice{
    font-size: 15px;
  }
  .tituloservicesol{
    color: #014c6b;
       font-weight: bold;
    font-size: 14px;
  }
  .datecard{
  p{
    margin-top: 1px;
    color: #0b72c9;
    text-align: center;
      font-size: 11px;
  }
  }




}
