page-orcamento {
  .descservice{
    font-size: 12px;
  }
  .line-break{
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal;
  }

  .slide{
    margin-top: 2%;
      width: 100%;
      
  }

}
