page-localizacao {
#map{
  height: 100%;
  width: 100%;
}
p{

    font-weight: bold;
}
.end{
  white-space: normal;
}
div{

}
.boxend{

}
.boend{
  width: 90%;
  padding: 15px;
font-size: 13px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  opacity: 0.9;
  top: 2%;
  left: 5%;
}
}
